a {
    background-color: inherit;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-position: inherit;
    background-clip: inherit;
    background-origin: inherit;
    background-size: inherit;
    background-break: inherit;
    background: inherit;
    border-top-color : inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
    border-color: inherit;
    border-top-style : inherit;
    border-right-style: inherit;
    border-bottom-style: inherit;
    border-left-style: inherit;
    border-style: inherit;
    border-top-width: inherit;
    border-right-width: inherit;
    border-bottom-width: inherit;
    border-left-width: inherit;
    border-width: inherit;
    border-image: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    border-radius: inherit;
    border-break: inherit;
    border-top: inherit;
    border-right: inherit;
    border-bottom: inherit;
    border-left: inherit;
    border: inherit;
    box-shadow: inherit;
    display-model: inherit;
    display-role: inherit;
    display: inherit;
    padding: inherit;
    padding-top : inherit;
    padding-right: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    margin-top : inherit;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    margin: inherit;
    width: inherit;
    height: inherit;
    box-width: inherit;
    box-height: inherit;
    box-sizing: inherit;
    max-width: inherit;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
    fit: inherit;
    fit-position: inherit;
    crop: inherit;
    image-orientation: inherit;
    image-resolution: inherit;
    float: inherit;
    clear: inherit;
    clear-after: inherit;
    clear: inherit;
    float-displace: inherit;
    indent-edge-reset: inherit;
    overflow-x: inherit;
    overflow-y: inherit;
    overflow: inherit;
    overflow: inherit;
    overflow-clip: inherit;
    visibility: inherit;
    color: inherit;
    opacity: inherit;
    color-profile: inherit;
    rendering-intent: inherit;
    move-to: inherit;
    display: inherit;
    quotes: inherit;
    counter-increment: inherit;
    counter-reset: inherit;
    page-policy: inherit;
    content: inherit;
    crop: inherit;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font: inherit;
    font-effect: inherit;
    font-smooth: inherit;
    font-emphasize-style: inherit;
    font-emphasize-position: inherit;
    font-emphasize: inherit;
    display-model: inherit;
    position: inherit;
    display-model: inherit;
    display-role: inherit;
    display: inherit;
    box-orient: inherit;
    box-direction: inherit;
    box-sizing: inherit;
    box-align: inherit;
    box-flex: inherit;
    box-pack: inherit;
    box-flex-group: inherit;
    box-lines: inherit;
    text-height: inherit;
    line-height: inherit;
    line-stacking-strategy: inherit;
    line-stacking-ruby: inherit;
    line-stacking-shift: inherit;
    line-stacking: inherit;
    dominant-baseline: inherit;
    alignment-baseline: inherit;
    alignment-adjust: inherit;
    baseline-shift: inherit;
    vertical-align: inherit;
    inline-box-align: inherit;
    drop-initial-value: inherit;
    drop-initial-size: inherit;
    drop-initial-after-align: inherit;
    drop-initial-after-adjust: inherit;
    drop-initial-before-align: inherit;
    drop-initial-before-adjust: inherit;
    target-name: inherit;
    target-new: inherit;
    target-position: inherit;
    target: inherit;
    list-style-type: inherit;
    list-style-image: inherit;
    list-style-position: inherit;
    list-style: inherit;
    size: inherit;
    page-break-before: inherit;
    page-break-after: inherit;
    page-break-inside: inherit;
    page: inherit;
    orphans: inherit;
    widows: inherit;
    page-policy: inherit;
    image-orientation: inherit;
    position: inherit;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
    clip: inherit;
    z-index: inherit;
    presentation-level: inherit;
    ruby-position: inherit;
    ruby-align: inherit;
    ruby-overhang: inherit;
    ruby-span: inherit;
    voice-volume: inherit;
    voice-balance: inherit;
    speak: inherit;
    pause-before: inherit;
    pause-after: inherit;
    pause: inherit;
    rest-before: inherit;
    rest-after: inherit;
    rest: inherit;
    cue-before: inherit;
    cue-after: inherit;
    cue: inherit;
    mark-before: inherit;
    mark-after: inherit;
    mark: inherit;
    voice-family: inherit;
    voice-rate: inherit;
    voice-pitch: inherit;
    voice-pitch-range: inherit;
    voice-stress: inherit;
    voice-duration: inherit;
    phonemes: inherit;
    tab-position: inherit;
    tab-align: inherit;
    tab-leaders: inherit;
    tab-leaders-alignment: inherit;
    tab: inherit;
    caption-side: inherit;
    table-layout: inherit;
    border-collapse: inherit;
    border-spacing: inherit;
    empty-cells: inherit;
    column-span: inherit;
    row-span: inherit;
    speak-header: inherit;
    white-space-collapse: inherit;
    word-break: inherit;
    hyphenate: inherit;
    text-wrap: inherit;
    word-wrap: inherit;
    text-align: inherit;
    text-align-last: inherit;
    text-justify: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
    appearance: inherit;
    font: inherit;
    content: inherit;
    icon: inherit;
    box-sizing: inherit;
    outline: inherit;
    outline-width: inherit;
    outline-style: inherit;
    outline-color: inherit;
    outline-offset: inherit;
    resize: inherit;
    cursor: inherit;
    nav-index: inherit;
    nav-up: inherit;
    nav-right: inherit;
    nav-down: inherit;
    nav-left: inherit;
}