/*
   Navigation Style Sheet for the W3C CSS validation service
   based on style for W3C Markup Validation Service.

   Copyright 2000-2004 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id$
*/

html {
/*  min-width: 55em; */
}

#menu {
/*  min-width: 63em; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 1.5em;
  border-bottom: solid 1px black;
}

#menu li {
  display: inline;
  padding: 0;
  margin: 0;
}

#menu li a:link, #menu li a:visited {
  text-decoration: none;
  text-align: center;
  float: left;
  display: block;
  width: 8em;
  padding: 2px 0px;
  margin: 0;
  background-color: #eee;
  color: #053188;
  font-size: smaller;
  font-variant: small-caps;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #ddd;
}

#menu li a#selected:link, #menu li a#selected:visited {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
}

#menu li a:hover {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
}

#menu li a:active {
  background-color: #fff;
  color: #053188;
  border-right: solid 1px #ddd;
}

#menu, #menu * { background-color: rgb(  0,  79, 147) !important; color: white !important;  }
