H2 {
  font-weight: bold; 
  font-size: large; 
  font-family: helvetica, sans-serif; 
  color: #007CBB; 
  margin-top: 2.0%; 
}
div#errors H2 {
  color: #E82848;
}

#Congrats H2 {
  color: #0FBC8D;
}
BODY {
  font-size: medium; 
  font-family: verdana, arial, helvetica, sans-serif; 
  color: rgb(0,0,0); 
  background-color: white; 
}
ADDRESS {
  font-weight: bold; 
  text-align: right; 
}
HR {
  margin-top: 2.0%; 
}
