#congrats h2, #errors h2, #warnings h2 {
          text-align: center;
          margin: 0;
        font-family: "Bitstream Vera Sans", sans-serif;
        font-size-adjust:	.53;
        font-size:		1.5em;
        font-weight:		800;
        font-style:		normal;
        text-decoration:	none;
        word-spacing:		normal;
        letter-spacing:	normal;
        text-transform:	none;
        border-color:		black;
        padding-top:		.5em;
        padding-bottom: 	.5em;
}
#warnings h2 {
  background: #FA9084;
  color: white;
}
#congrats h2 {
      background-color: #55B05A;
      color: white;
}
#errors h2 {
  background-color: #E82848;
  color: white;
}

/* id="css" - to identify the validated style sheet */
#css {}

/* class="selector" - block of the selector */
.selector {}

/* class="selector" - value of the selector */
.selectorValue {}

/* class='Rule' - block of all couple propertie-value*/
.RuleList {}

/* class='Rule' - one couple propertie-value*/
.Rule {}

/* class='Property' - propertie name */
.Property {}

/* class='PropertyValue' - value of property */
.vPropertyValue {}
