/* specific style triggered by javascript */ 

.tabset_content	{ display:none; }
.tabset_label	{ display:none }

.tabset_content_active	{ display:block }
* html legend { position:absolute; top: -25em !important; left: -25em !important; }
* html fieldset{ position: relative; margin-top:0 !important; padding-top:0 !important;}
@media aural{
	.tabset_content,
	.tabset_label	{ display:block }
}


