#parse("./header.vm")
<div class="intro">
<h2>W3C CSS Validator localization</h2><p>This table lists all the text strings used to translate the CSS validator in many languages.</p><p> Cells marked <span class='table_translation_missing'>✘</span> need a new or updated translation. Cells marked <span class='table_translation_ok'>✔</span> are translated and up-to-date.</p>
<p>Hover above each  ✘ or ✔ to read the current translation for each string.</p>
</div>
$translations_table
#parse("./footer.vm")
